 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Tentang Saya</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <center>
                 <p>
                  <a href="risunhidayat.com">apakah</a>
                  Perkenalkan nama saya Risun Hidayat, Saya seorang Mahasiswa di 
                  Universitas Islam Negeri Sultan Syarif Kasim, Riau. Fakultas Sains Dan Teknologi
                 ,  Sistem Informasi.
                 </p>
             </center>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                 <a href="uin-suska.ac.id" class="btn btn-lg btn-outline">
                        <i class="fa fa-send"></i> Uin Suska Riau
                    </a>
                 <a href="sif.uin-suska.ac.id" class="btn btn-lg btn-outline">
                        <i class="fa fa-send"></i> Sistem Informasi
                    </a>
                    <a href="www.obatgaptek.net" class="btn btn-lg btn-outline">
                        <i class="fa fa-send"></i> Kunjungi Blog saya
                    </a>
                </div>
            </div>
        </div>
    </section>
